@use './styles/colors';

body {
    margin: 0;
}

nav {
    .navtoggle {
        height: 5em;
        width: 5em;
        background-color: colors.$light;
        border-style: solid;
        border-radius: 0.25em;
        border-color: colors.$dark;
        position: fixed;
        left: 2em;
        top: 2em;
    }


}
