@use './styles/colors';

body {
    margin: 0;
    background-color: antiquewhite;
}

nav {
    position: relative;

    .navtoggle {
        height: 5em;
        width: 5em;
        background-color: colors.$light;
        border-style: solid;
        border-radius: 0.25em;
        border-color: colors.$dark;
        position: fixed;
        left: 2em;
        top: 2em;
        display: none;
    }

    .navlinks-container {
        background-color: black;
        position: fixed;

        height: 100%;
        width: 45%;

        .navlinks {
            position: absolute;
            top: 5%;
            left: 50%;
            transform: translate(-50%);
            display: flex;
            flex-direction: column;

            h2 {
                color: white;
                text-align: center;
                font-size: 2em;
            }

            .navlink {
                background-color: rgba(255, 255, 255, 0.568);
                border-radius: 0.25em;
                padding: 1em;
                width: 6em;
                margin: 0.75em;
                text-align: center;
                color: white;
                text-decoration: none;
            }
        }
    }
}
